{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm p-4" style="border-radius: 10px;">
            <h3 class="fw-bold mb-4" style="color: #004a99;">Nouvelle Inscription</h3>
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label fw-bold">Prénom</label>
                    <input type="text" name="prenom" class="form-control" placeholder="Ex: Sokhna" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Nom</label>
                    <input type="text" name="nom" class="form-control" placeholder="Ex: DIOP" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Matricule</label>
                    <input type="text" name="matricule" class="form-control" placeholder="Ex: ESTM-2026-X" required>
                </div>
                <div class="mb-4">
                    <label class="form-label fw-bold">Moyenne</label>
                    <input type="number" step="0.01" name="note" class="form-control" min="0" max="20" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 fw-bold" style="background: #004a99;">ENREGISTRER</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}