<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bulletin de Notes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <div class="card p-4">
        <h2 class="text-center">Relevé de Notes</h2>
        <hr>
        <p><strong>Étudiant :</strong> Sarr Moussa | <strong>Matricule :</strong> ETU-001</p>
        
        <table class="table table-bordered">
            <thead class="table-secondary text-center">
                <tr>
                    <th>Matière</th>
                    <th>Note /20</th>
                    <th>Coefficient</th>
                    <th>Crédits</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Algorithmique</td>
                    <td>15</td>
                    <td>3</td>
                    <td>10 / 60</td>
                </tr>
            </tbody>
        </table>
        <div class="text-end mt-3">
            <h4>Moyenne Générale : 15/20</h4>
            <p class="text-success fw-bold">Statut : Admis (60 crédits validés)</p>
        </div>
    </div>
</body>
</html>