{% extends "layout.html" %}
{% block content %}
<div class="bg-white p-5 border shadow mx-auto" style="max-width: 800px; border-radius: 10px;">
    <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='images/logo_estm.png') }}" style="height: 90px;">
        <h2 class="mt-3 fw-bold text-primary">BULLETIN DE NOTES</h2>
    </div>
    <hr>
    <div class="row my-4 fs-5">
        <div class="col-6">
            <p>Étudiant : <strong>{{ eleve.prenom }} {{ eleve.nom }}</strong></p>
            <p>Matricule : <strong>{{ eleve.matricule }}</strong></p>
        </div>
        <div class="col-6 text-end">
            <p>Date : 05/02/2026</p>
            <p>Session : Février</p>
        </div>
    </div>
    <div class="alert {{ 'alert-success' if status == 'ADMIS' else 'alert-danger' }} text-center p-4">
        <h3>MOYENNE : {{ eleve.note }} / 20</h3>
        <h4 class="fw-bold">RÉSULTAT : {{ status }}</h4>
    </div>
    <div class="mt-5 d-flex justify-content-between no-print">
        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">← Retour</a>
        <button onclick="window.print()" class="btn btn-dark">🖨️ Imprimer en PDF</button>
    </div>
</div>
{% endblock %}