{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Liste des Étudiants</h2>
    <a href="{{ url_for('ajouter') }}" class="btn btn-success">+ Ajouter un élève</a>
</div>
<div class="card p-3 shadow-sm border-0">
    <table class="table table-hover text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Matricule</th>
                <th>Prénom & Nom</th>
                <th>Moyenne</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for e in etudiants %}
            <tr>
                <td class="fw-bold">{{ e.matricule }}</td>
                <td>{{ e.prenom }} {{ e.nom }}</td>
                <td><span class="badge {{ 'bg-success' if e.note >= 10 else 'bg-danger' }} p-2">{{ e.note }}/20</span></td>
                <td><a href="/bulletin/{{ loop.index0 }}" class="btn btn-sm btn-outline-primary">Détails / Bulletin</a></td>
            </tr>
            {% else %}
            <tr><td colspan="4" class="py-4 text-muted">Aucune donnée enregistrée.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}